.post {
  background-color: #000000;
  font-family: sans-serif;
  font-size: 16px;
  min-width: 60%;
  max-width: 60%;
  margin-inline: auto;
  padding: 20px;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
}

.post ul {
  padding-left: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.post p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.post .tag {
  margin-top: 16px;
}

a.tag {
  background-color: white;
  color: black;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 4px;
  font-weight: bold;
}

a.tag:hover {
  background: #84de94;
  color: black;
}

.post img {
  width: 80%;
  object-position: center;
  margin: auto;
  display: block;
  object-fit: contain;
}

.warning {
  color: red;
}
.post code {
  font-style: monospace;
}
