* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

a {
  color: #94a3b8;
  text-decoration: underline;
}

a:visited {
  color: #94a3b8;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

body {
  background-color: #27272a;
  width: 100vw;
  height: 100vh;
}

#banner {
  margin: 10px 0px;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  color: white;
}

.auth {
  z-index: 1;
  display: flex;
  gap: 4px;
  position: fixed;
  top: 0;
  left: 0;
}
.nav {
  background-color: #3f3f46;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100vw;
  height: 100px;
  padding: 1rem;
}

h1 {
  color: white;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

.nav .site-title {
  text-decoration: none !important;
  font-size: 3rem;
}

.nav .navlinks {
  display: flex;
  padding: 1rem;
  gap: 5px;
}

.container {
  margin: 1rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

main.index {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}

section.postID {
  background-color: #18181b;
  color: white;
  font-family: "Inter", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  border-radius: 6px;
  height: fit-content;
  width: 25%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

section.postID img {
  width: 100%;
  height: 350px;
  border-bottom: solid 1px #94a3b8;
}

section.postID .information {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
}

section.postID .information .date {
  align-self: flex-start;
}

section.postID .tags {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

section.postID .content {
  display: flex;
  padding: 0px 1rem 1rem 1rem;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

section.postID h1 {
  padding: 5px 0px;
  font-size: 2rem;
  font-weight: 700;
}

section.postID .post-summary {
  width: 100%;
  font-size: 1rem;
  word-wrap: break-word;
  overflow: hidden;
}

section.postID .tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.gap {
  flex: 1;
}

a.tag {
  display: flex;
  text-decoration: none;
  height: 2rem;
  min-width: 4rem;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #94a3b8;
  border-radius: 50rem;
}

a.tag:hover {
  text-decoration: underline;
  color: white;
  border: 2px solid white;
}

@media (max-width: 768px) {
  .auth {
    visibility: hidden;
  }
  .nav {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.menu-square {
  border-radius: 6px;
  width: 500px;
  height: fit-content;
  background-color: #18181b;
  color: white;
  font-family: "Inter", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 1rem;
}

.login-form label {
  font-size: 1rem;
  font-weight: 700;
}

input[type="text"],
input[type="password"],
button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  border: solid 1px #94a3b8;
  border-radius: 50rem;
  color: white;
  width: 100%;
  height: 2.5rem;
  background-color: inherit;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
button:focus-visible {
  outline: solid 2px white;
}

button {
  justify-content: center;
}

button:hover {
  background-color: #94a3b8;
  color: black;
  border: solid 1px white;
}

/* Admin Page */
.post-table {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.admin-row {
  padding: 5px 5px;
  width: 100%;
  height: 40px;
  display: flex;
  gap: 0.8rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.admin-row a {
  text-decoration: none;
}

.post-title {
  flex: 1;
  font-weight: 700;
  font-size: 1.5rem;
}

.new-post {
  text-decoration: underline;
  font-size: 1.5rem;
}
