<!DOCTYPE html>
<html>
  {{ template "header" . }}
  <body>
    {{ template "nav" . }}
    <div class="container">
      {{ template "banner" . }}
      <div class="menu-square">
        <div class="post-table">
          {{ range .posts }}
          <div class="admin-row">
            <span class="post-id">{{ .ID }}.</span>
            <span class="post-title">{{ .Title }}</span>
            <a class="edit" href="/admin/edit/{{ .ID }}">Edit</a>
            <a class="delete" href="/admin/posts/{{ .ID}}">Delete</a>
          </div>
          {{ end }}
          <div class="admin-row blank"></div>
          <div class="admin-row">
            <a class="new-post" href="/admin/edit">New</a>
          </div>
      </div>
    </div>
  </body>
  <!-- Event Listeners for confirmation dialogs -->
  <script>
    const d = document.querySelectorAll(".delete");
    d.forEach((element) => {
      element.addEventListener("click", (event) => {
        p = element.getAttribute("href").split("/");
        event.preventDefault();
        if (
          confirm(
            "Are you sure you want to delete Post # " + p[p.length - 1] + "?"
          ) == true
        ) {
          fetch("/admin/posts/" + p[p.length - 1], {
            credentials: "same-origin",
            mode: "same-origin",
            method: "DELETE",
            headers: { "Content-Type": "application/json" },
          })
            .then(() => location.reload())
            .catch((error) => console.log(error));
        }
      });
    });
    (async () => {
      fetch("/api/v1/refresh", {
        credentials: "same-origin",
        method: "GET",
        mode: "same-origin",
      });
    })();
  </script>
</html>
