<!DOCTYPE html>
<html lang="">
  {{ template "header" . }}
  <body>
    {{ template "nav" . }}
    <div class="container">
      {{ template "banner" . }}
      <div class="menu-square big-square">
        <form id="blog-information" method="POST" enctype="multipart/form-data">
          <label for="blogtitle">Title</label>
          <input
            id="blogtitle"
            name="title"
            type="text"
            value="{{ .post.Title }}"
            required
          />
          <label for="blogbody">Content</label>
          <textarea id="blogbody" name="content" rows="50" required>
{{ .post.Content }}</textarea
          >
            <label>Upload Image</label>
          <div class="file-upload">
            <input type="file" id="blog-img" name="image" accept="image/png, image/jpeg" hidden />
            <label for="blog-img" class="blog-img-upload">Upload Image</label><span id="blog-img-file-chosen">No file chosen</span>
          </div>
            <div class="image-preview"><img id="image-preview" {{if .post.ImageUrl}}src="{{ .post.ImageUrl }}"{{end}} /></div>
            <label for="summary">Summary</label>
          <textarea class="summary"
            id="summary"
            name="summary"
            rows="11"
            required
          />{{.post.Summary}}</textarea>
          <button id="submit" type="submit">Update Post</button>
          <label for="tags">Tags</label>
          <div id="tags"></div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="/static/js/editor.js"></script>
    <script>initialize("{{ range .post.Tags }}{{ . }}%{{end}}", "{{ .post.ID }}")</script>
  </body>
</html>
