<!DOCTYPE html>
  {{ template "header" . }}
    <body>
    {{ template "nav" . }}
        <div class="container">
            <div class="login-menu">
            <h2 class="login">Log In</h1>
                <form class="login-form" action="/api/v1/login" method="post">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password">
                    <button type="submit">Log In</button>   
                </form>
            </div>
        </div>
    </body>
</html>