{{ define "postcard"}}
<section class="postID">
  <img src="/static/favicon.ico" />
  <div class="information">
    <div class="tags">
      {{ range .Tags}}
      <a class="tag" href="/posts?term={{ . }}">{{ . }}</a>
      {{ end }}
    </div>
    <div class="date">{{ .CreatedAt | formatTimeToString}}</div>
  </div>
  <div class="content">
    <h1>{{ .Title }}</h1>
    <div class="post-summary">
      Lorem ipsum odor amet, consectetuer adipiscing elit. Fames netus elit
      cubilia pulvinar etiam nulla nibh. Lectus inceptos etiam felis aenean ad
      vehicula tristique proin at. Eget id erat finibus tristique est consequat.
      Augue parturient sollicitudin torquent posuere dolor ligula nascetur vel.
      Malesuada natoque pulvinar auctor proin lectus ac est libero inceptos.
      Lacinia accumsan iaculis vivamus rhoncus ridiculus tristique tristique
      laoreet. Quisque morbi in neque, blandit ultrices duis auctor. Felis
      lobortis a massa sit eros proin porttitor enim tincidunt. Nulla ante mus
      augue fermentum habitant. Porta lobortis integer bibendum ac iaculis
      aenean nisi! Integer porta nascetur lobortis; diam felis ut aptent. Non
      tempus maximus pulvinar laoreet duis accumsan. Natoque senectus interdum
      imperdiet magna et aliquam hendrerit. Nulla nostra phasellus semper;
      pretium id consectetur quam. Vivamus tempus a quam sem euismod nulla
      felis.
    </div>
    <div class="gap"></div>
    <a class="read-button" href="/posts/{{ .ID }}">Read More</a>
  </div>
</section>
{{end}}
