{{ define "postcard"}}
<section class="postID">
  <img
    src="{{ if .ImageUrl }}{{ .ImageUrl}}{{ else}}/static/favicon.ico{{end}}"
  />
  <div class="information">
    <div class="tags">
      {{ range .Tags}}
      <a class="tag" href="/posts?term={{ . }}">{{ . }}</a>
      {{ end }}
    </div>
    <div class="date">{{ .CreatedAt | formatTimeToString}}</div>
  </div>
  <div class="content">
    <h1>{{ .Title }}</h1>
    <div class="post-summary">{{ .Summary }}</div>
    <div class="gap"></div>
    <a class="read-button" href="/posts/{{ .ID }}">Read More</a>
  </div>
</section>
{{end}}
